body {
	 background-color: #454545;
	 background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQiaayl6XuInornOq4LDrWJXUiMzkOlC1nnDcocebbMpAR8wqFt1Q');
}
 .paper-stack:before, .paper-stack:after, .paper-stack > .top-page {
	 height: 24em;
	 width: 20em;
	 -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	 -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	 box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.4);
}
 .paper-stack {
	 position: relative;
	 display: inline-block;
	 width: 24em;
	 height: 28em;
}
 .paper-stack:before {
	 content: '';
	 position: absolute;
	 -moz-transform: rotate(-2deg);
	 -webkit-transform: rotate(-2deg);
	 transform: rotate(-2deg);
	 background-color: #fff;
	 z-index: 5;
	 -webkit-transition: 0.4s;
}
 .paper-stack:after {
	 content: '';
	 position: absolute;
	 -moz-transform: rotate(4deg);
	 -webkit-transform: rotate(4deg);
	 transform: rotate(4deg);
	 background-color: #fff;
	 z-index: 5;
	 -webkit-transition: 0.4s;
	 transition: 0.4s;
}
 .paper-stack > .top-page {
	 position: absolute;
	 background-color: #fff;
	 z-index: 20;
}
 .paper-stack > .top-page > .content {
	 padding: 1.5em;
}
 .paper-stack:hover:before, .paper-stack:hover:after {
	 -moz-transform: rotate(0deg);
	 -webkit-transform: rotate(0deg);
	 -moz-transform: rotate(0deg);
	 transform: rotate(0deg);
	 background-color: #fff;
}
 .paper-stack:hover > top-page {
	 top: -0.5em;
	 -webkit-transition: 0.5s;
	 transition: 0.5s;
}
 